.nav-enlace{
	display:inline-block;
	background:purple;
	color: #fff;
	padding: 10px 30px;
	text-decoration: none;

}

.nav-enlace:hover{
	background: mediumorchid;

}

nav{
	background: rebeccapurple;
	padding: 10px;
	display: flex;
	justify-content: flex-end;
	
}

.nav-boton{
	background:purple;
	color: #fff;
	padding: 10px 0;
	border: 2px solid #fff;
}

@media (max-width:768px) {
 nav{
 	background: blue;
 	flex-direction: column;
 }
 .nav-enlace{
 	margin: 10px 0;
 }

.nav-boton{
	display: inline-block;
}

.desaparece{
	display: none;
	
	}
}

}